@import 'tools';

.preTitle { color: $green; }
.title { color: $blue; }
.text { color: $grey; }
.background { color: $white }

a, button {
    transition: 200ms;

    &:hover {
        opacity: 0.8;
    }
}

* {
    font-family: $montserrat;
    font-weight: 600;
}

header *,
footer *,
main * {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;

    background: $blue;

    .preHeader {
        @include align(row, space-between);
        height: rem(50);

        .parana {
            width: rem(100);
            margin: 0 auto;
        }

        .acessibility {
            @include align;
            width: 60%;

            p {
                @include align;
                width: 50%;
                height: auto;

                color: white;
                font-size: rem(13);
                font-family: $montserrat;
                font-weight: 600;
            }

            ul {
                @include align;

                button {
                    @include align;
                    border: 0;
                    padding: 0;
                    background-color: transparent;

                    img {
                        width: 70%;
                    }
                }
            }
        }
    }

    .header {
        @include align(row, space-between);

        height: rem(70);

        .edutech_container {
            height: 100%;
            margin-left: rem(15);

            .edutech_img {
                height: 100%;
            }
        }

        .navBar {
            @include align;
            position: relative;
            margin: 0 rem(15) 0 auto;

            button {
                @include align;

                
                border: 0;
                padding: 0;
                background-color: transparent;

                img {
                    width: 100%;
                }

                display: none;
            }

            a {
                width: 50%;
                margin: 0 rem(4);
                height: auto;

                color: white;
                font-size: rem(13);
                font-family: $montserrat;
                font-weight: 600;
            }
        }
    }
}

main {
    margin: rem(150) 0 rem(10) 0;
}

footer {
    @include align(column);

    background: $blue;

    .redesParana {
        @include align(column);

        padding: rem(25);

        a {
            padding: rem(2)
        }

        .redes {
            @include align(row, space-evenly);
            padding: rem(2);
            width: 100%;
        }
    }

    .parceria {
        @include align(column);

        .logoEdutech {
            width: 50%;
        }

        p {
            @include align;
            width: 50%;
            height: auto;
            margin-bottom: rem(10);

            color: white;
            font-size: rem(13);
            font-family: $montserrat;
            font-weight: 500;
        }
    }

    .creditos {
        @include align(column);

        margin: rem(20);

        .finpama_container {
            @include align(column);

            margin: rem(20);

            .finpama_credito {
                color: white;
                font-size: rem(13);
                font-family: $montserrat;
                font-weight: 500;
            }

            .finpama_link {
                @include align;

                p {
                    width: 50%;
                    height: auto;
                    margin: 0 rem(12);

                    color: black;
                    font-size: rem(16);
                    font-family: $montserrat;
                    font-weight: 700;
                }

                img {
                    width: rem(30);
                }
            }
        }

        .creditos_links {
            @include align(column);

            a {
                color: #6B7693;
                font-size: rem(16);
                font-family: $montserrat;
                font-weight: 700;
            }

            a:nth-child(1),
            a:nth-child(3) {
                color: #A0A9BF;
                font-size: rem(16);
                font-family: $montserrat;
                font-weight: 700;
            }
        }
    }
}